body {
    padding: 20px 0;
}
/* manageFactory */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

td.red {
    background-color: rgb(255, 97, 97) !important;
}

td.green {
    background-color: rgb(60, 231, 60) !important;
}

td.yellow {
    background-color: rgb(255, 255, 147) !important;
}

td.blue {
    background-color: rgb(111, 111, 255) !important;
}
