<div class="u-paddingHn" id="calComprehensiveRelation">
    <div class="header">
        <h3 class="text-muted">作业单位综合相互关系计算表</h3>
    </div>

    <h4 id="title"></h4>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>序号</th>
                <th>作业单位对</th>
                <th>物流强度等级</th>
                <th>物流强度分值</th>
                <th>非物流强度等级</th>
                <th>非物流强度分值</th>
                <th>综合分值</th>
                <th>综合等级</th>
            </tr>
        </thead>

        <tbody>
            
        </tbody>
    </table>

    <button class="btn btn-primary" data-route="comprehensiveRelationTable">作业单位综合接近程度排序表</button>
    <button class="btn btn-default" data-route="confirmWeight">返回</button>
</div>
