<div class="u-paddingHn" id="comprehensiveRelationTable">
    <div class="header">
        <h3 class="text-muted"><span>3.3 </span>作业单位综合相互关系表</h3>
    </div>

    <ol class="breadcrumb">
        <li><a href="#" data-route="manageFactory">分析</a></li>
        <li><a href="#" data-route="fromToTable">从至表</a></li>
        <li><a href="#" data-route="flowIntensionTable">物流强度表</a></li>
        <li><a href="#" data-route="unitRelationTable">物流相关表</a></li>
        <li><a href="#" data-route="nonFlowIntension">相互关系分析</a></li>
        <li><a href="#" data-route="nonFlowRelationTable">非物流相关表</a></li>
        <li><a href="#" data-route="confirmWeight">确认权重</a></li>
        <li><a href="#" data-route="calComprehensiveRelation">综合相互关系计算</a></li>
        <li class="active">综合相互关系表</li>
    </ol>

    <table class="table table-bordered table-striped">
        <thead>
            
        </thead>

        <tbody>
            
        </tbody>
    </table>
</div>
