<div class="u-paddingHn" id="comprehensiveCloseness">
    <div class="header">
        <h3 class="text-muted">作业单位综合接近程度排序表</h3>
    </div>

    <ol class="breadcrumb">
        <li><a href="#" data-route="manageFactory">分析</a></li>
        <li><a href="#" data-route="fromToTable">从至表</a></li>
        <li><a href="#" data-route="flowIntensionTable">物流强度表</a></li>
        <li><a href="#" data-route="unitRelationTable">物流相关表</a></li>
        <li class="active">综合接近程度排序表</li>
    </ol>

    <table class="table table-bordered table-striped">
        <thead>
            
        </thead>

        <tbody>
            
        </tbody>
    </table>

    <button class="btn btn-primary" data-route="relationWorkTable">关系工作表</button>
</div>
