<div class="u-paddingHn"  id="confirmWeight">
    <div class="header">
        <h3 class="text-muted">确定权重</h3>
    </div>

    <div>
        <h4>请选择物流雨非物流相互关系的相对重要性</h4>

        <div class="radio">
          <label>
            <input type="radio" name="weight" id="weight1" value="3:1">
            3:1
          </label>
        </div>

        <div class="radio">
          <label>
            <input type="radio" name="weight" id="weight2" value="2:1">
            2:1
          </label>
        </div>

        <div class="radio">
          <label>
            <input type="radio" name="weight" id="weight3" value="1:1" checked>
            1:1
          </label>
        </div>

        <div class="radio">
          <label>
            <input type="radio" name="weight" id="weight4" value="1:2">
            1:2
          </label>
        </div>

        <div class="radio">
          <label>
            <input type="radio" name="weight" id="weight5" value="1:3">
            1:3
          </label>
        </div>
    </div>

    <button class="btn btn-primary" data-action="confirmWeight">综合分析</button>
    <button class="btn btn-default" data-route="manageFactory">返回</button>
</div>