<div class="u-paddingHn"  id="confirmWeight">
    <div class="header">
        <h3 class="text-muted"><span>3.1 </span>确定权重</h3>
    </div>

    <ol class="breadcrumb">
        <li><a href="#" data-route="manageFactory">分析</a></li>
        <li><a href="#" data-route="fromToTable">从至表</a></li>
        <li><a href="#" data-route="flowIntensionTable">物流强度表</a></li>
        <li><a href="#" data-route="unitRelationTable">物流相关表</a></li>
        <li><a href="#" data-route="manageFactory">分析</a></li>
        <li><a href="#" data-route="nonFlowIntension">相互关系分析</a></li>
        <li><a href="#" data-route="nonFlowRelationTable">非物流相关表</a></li>
        <li class="active">确认权重</li>
    </ol>

    <div>
        <h4>请选择物流雨非物流相互关系的相对重要性</h4>

        <div class="radio">
          <label>
            <input type="radio" name="weight" id="weight1" value="1:0">
            1:0
          </label>
          <span>(只做物流分析)</span>
        </div>

        <div class="radio">
          <label>
            <input type="radio" name="weight" id="weight1" value="3:1">
            3:1
          </label>
        </div>

        <div class="radio">
          <label>
            <input type="radio" name="weight" id="weight2" value="2:1">
            2:1
          </label>
        </div>

        <div class="radio">
          <label>
            <input type="radio" name="weight" id="weight3" value="1:1" checked>
            1:1
          </label>
        </div>

        <div class="radio">
          <label>
            <input type="radio" name="weight" id="weight4" value="1:2">
            1:2
          </label>
        </div>

        <div class="radio">
          <label>
            <input type="radio" name="weight" id="weight5" value="1:3">
            1:3
          </label>
        </div>

        <div class="radio">
          <label>
            <input type="radio" name="weight" id="weight1" value="0:1">
            0:1
          </label>
          <span>(只做作业单位相互关系分析)</span>
        </div>

    </div>

    <button class="btn btn-primary" data-action="confirmWeight">综合分析</button>
</div>