<div id="factory">
    <div class="panel panel-default">
        <div class="panel-body">
            我的工厂

            <div class="pull-right">
                <a class="btn btn-primary" data-route="editFactory">
                    添加工厂
                </a>
            </div>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">工厂名字</th>
                <th class="text-center">备注</th>
                <th class="text-center">操作</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>
