<div id="factory">
    <div class="header">
        <h3 class="text-muted">我的工厂</h3>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">工厂名字</th>
                <th class="text-center">备注</th>
                <th class="text-center">操作</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>

    <button class="btn btn-primary" data-route="editFactory">添加工厂</button>
</div>
