<div class="u-paddingHn" id="flowIntensionTable">
    <div class="header">
        <h3 class="text-muted"><span>1.2 </span>物流强度表</h3>
    </div>

    <ol class="breadcrumb">
        <li><a href="#" data-route="manageFactory">分析</a></li>
        <li><a href="#" data-route="fromToTable">从至表</a></li>
        <li class="active">物流强度表</li>
    </ol>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>序号</th>
                <th>作业单位对</th>
                <th>物流强度</th>
                <th>物流强度等级</th>
            </tr>
        </thead>

        <tbody>
            
        </tbody>
    </table>

    <button class="btn btn-primary" data-route="unitRelationTable">作业单位物流相关表</button>
</div>
