<div class="u-paddingHn" id="fromToTable">
    <div class="header">
        <h3 class="text-muted"><span>1.1 </span>从至表</h3>
    </div>

    <ol class="breadcrumb">
        <li><a href="#" data-route="manageFactory">分析</a></li>
        <li class="active">从至表</li>
    </ol>

    <table class="table table-bordered table-striped">
        <thead>
            
        </thead>

        <tbody>
            
        </tbody>
    </table>

    <button class="btn btn-primary" data-route="flowIntensionTable">物流强度表</button>
</div>
