<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hello World!</title>
        <!-- Load Scripts -->
        <script src="../components/jquery/dist/jquery.min.js"></script>
        <script src="../components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../scripts/main.js"></script>
        <!-- End Load Scripts -->

        <!-- Load Styles -->
        <link rel="stylesheet" href="../components/suit-base/base.css">
        <link rel="stylesheet" href="../components/suit-utils-text/text.css">
        <link rel="stylesheet" href="../components/suit-utils-space/space.css">
        <link rel="stylesheet" href="../components/suit-utils-state/state.css">
        <link rel="stylesheet" href="../components/suit-utils-layout/layout.css">
        <link rel="stylesheet" href="../components/suit-utils-display/display.css">
        <link rel="stylesheet" href="../components/suit-utils-dimension/dimension.css">
        <link rel="stylesheet" href="../components/suit-arrange/arrange.css">
        <link rel="stylesheet" href="../components/suit-button-group/button-group.css">
        <link rel="stylesheet" href="../components/bootstrap/dist/css/bootstrap.min.css">

        <link rel="stylesheet" href="../styles/main.css">
        <!-- End Load Styles -->
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">

                <h1>SLP辅助管理软件</h1>
                <p class="lead">
                    SLP分析方法是工艺专业化布局时常用的方法，通过分析各工序（作业单位） 之间的物流强度和非物流强度，来帮助确定作业单位的布局位置及判定作业单位布局的合理性。
                </p>

                <p class="text-center">
                    <a class="btn btn-lg btn-success" data-route="login">
                        开始使用
                    </a>
                </p>
            </div>
        </div>
    </body>
</html>

