<form id="login" role="form" action="">
    <div class="form-group">
        <label for="username">用户名</label>
        <input class="form-control"
               id="username"
               type="text"
               name="username"
               placeholder="请输入你的用户名">
    </div>

    <div class="form-group">
        <label for="password">密码</label>
        <input class="form-control"
               id="password"
               type="password"
               name="password"
               placeholder="请输入你的密码">

    </div>

    <button class="btn btn-primary" id="loginBtn">登录</button>
    <button class="btn btn-default" type="reset">重置</button>
</form>
