<div class="u-paddingHn" id="manageFactory">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li class="active">
                <a href="#" data-route="manageFactory">分析</a>
            </li>
            <li>
                <a href="#" data-route="unit">作业单位</a>
            </li>
            <li>
                <a href="#" data-route="part">材料</a>
            </li>
            <li>
                <a href="#" data-route="craft">工艺路线</a>
            </li>
        </ul>
        <h3 class="text-muted" id="factoryName"></h3>
    </div>

    <div class="jumbotron">
        <h2>SLP分析</h2>
        <p class="lead">
            物流分析: 从至表 -> 物流强度 -> 物流相关表 
        </p>
        <p class="lead">
            作业单位相互分析: 作业单位非物流相关表
        </p>
        <p>
            注意：1. 你必须填写相关资料才能进行分析。2. 你必须保存结果后才能查看结果。
        </p>
    </div>

    <button class="btn btn-primary disabled" id="flowBtn" data-route="fromToTable">物流分析</button>
    <button class="btn btn-primary" id="nonFlowBtn" data-route="nonFlowIntension">作业单位相互关系分析</button>
    <button class="btn btn-primary disabled" id="readResultBtn" data-route="resultOnly">查看结果</button>
    <button class="btn btn-default" data-route="factory">返回</button>
</div>
