<div class="u-paddingHn" id="nonFlowIntension">
    <div class="header">
        <h3 class="text-muted"><span>1.1 </span>作业单位相互关系分析</h3>
    </div>

    <ol class="breadcrumb">
        <li><a href="#" data-route="manageFactory">分析</a></li>
        <li class="active">相互关系分析</li>
    </ol>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">序号</th>
                <th class="text-center">作业单位对</th>
                <th class="text-center">关系密切程度</th>
                <th class="text-center">理由</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>


    <button class="btn btn-primary" data-action="saveNonFlow">保存</button>
    <button class="btn btn-primary disabled" data-route="nonFlowRelationTable">作业单位非物流相关表</button>
    <button class="btn btn-danger" data-action="deleteNonFLow">删除全部记录</button>
</div>