<div class="u-paddingHn" id="unitRelationTable">
    <div class="header">
        <h3 class="text-muted">作业单位非物流相关表</h3>
    </div>

    <ol class="breadcrumb">
        <li><a href="#" data-route="manageFactory">分析</a></li>
        <li><a href="#" data-route="nonFlowIntension">相互关系分析</a></li>
        <li class="active">非物流相关表</li>
    </ol>

    <table class="table table-bordered table-striped">
        <thead>
            
        </thead>

        <tbody>
            
        </tbody>
    </table>
    
</div>
