<div id="part">
    <div class="u-paddingHn" id="manageFactory">
        <div class="header">
            <ul class="nav nav-pills pull-right">
                <li>
                    <a href="#" data-route="manageFactory">分析</a>
                </li>
                <li>
                    <a href="#" data-route="unit">作业单位</a>
                </li>
                <li class="active">
                    <a href="#" data-route="part">零件</a>
                </li>
                <li>
                    <a href="#" data-route="craft">工艺路线</a>
                </li>
            </ul>
            <h3 class="text-muted" id="factoryName"></h3>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">代号</th>
                <th class="text-center">零件名字</th>
                <th class="text-center">备注</th>
                <th class="text-center">操作</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>

    <button class="btn btn-primary" data-route="editPart">添加零件</button>
    <button class="btn btn-default" data-route="manageFactory">返回</button>
</div>
