<div class="u-paddingHn" id="relationWorkTable">
    <div class="header">
        <h3 class="text-muted">关系工作表</h3>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th></th>
                <th>A</th>
                <th>E</th>
                <th>I</th>
                <th>O</th>
                <th>U</th>
            </tr>
        </thead>

        <tbody>
            
        </tbody>
    </table>

    <button class="btn btn-primary" data-route="unitPositionTable">作业单位位置相关图</button>
    <button class="btn btn-default" data-route="comprehensiveCloseness">返回</button>
</div>
