<div class="u-paddingHn" id="relationWorkTable">
    <div class="header">
        <h3 class="text-muted">关系工作表</h3>
    </div>

    <ol class="breadcrumb">
        <li><a href="#" data-route="manageFactory">分析</a></li>
        <li><a href="#" data-route="fromToTable">从至表</a></li>
        <li><a href="#" data-route="flowIntensionTable">物流强度表</a></li>
        <li><a href="#" data-route="unitRelationTable">物流相关表</a></li>
        <li><a href="#" data-route="comprehensiveCloseness">综合接近程度排序表</a></li>
        <li class="active">关系工作表</li>
    </ol>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th></th>
                <th>A</th>
                <th>E</th>
                <th>I</th>
                <th>O</th>
                <th>U</th>
            </tr>
        </thead>

        <tbody>
            
        </tbody>
    </table>

    <button class="btn btn-primary" data-route="unitPositionTable">作业单位位置相关图</button>
</div>
