<div class="u-paddingHn" id="unitPositionTable">
    <div class="header">
        <h3 class="text-muted"><span>3.2 </span>作业单位位置相关图</h3>
    </div>

    <ol class="breadcrumb">
        <li><a href="#" data-route="manageFactory">分析</a></li>
        <li><a href="#" data-route="fromToTable">从至表</a></li>
        <li><a href="#" data-route="flowIntensionTable">物流强度表</a></li>
        <li><a href="#" data-route="unitRelationTable">物流相关表</a></li>
        <li><a href="#" data-route="comprehensiveCloseness">综合接近程度排序表</a></li>
        <li><a href="#" data-route="relationWorkTable">关系工作表</a></li>
        <li class="active">位置相关图</li>
    </ol>

    <table class="table table-bordered table-striped">
        <tbody>

        </tbody>
    </table>

    <button class="btn btn-success" data-toggle="modal" data-target="#saveResult">保存结果</button>
    <button class="btn btn-primary" data-route="unitPositionTable">再试一次</button>
</div>

<!-- Modal -->
<div class="modal fade" id="saveResult" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">保存结果</h4>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label for="remark">备注</label>
                    <input class="form-control" 
                           type="text"
                           id="remark"
                           name="remark"
                           placeholder="请输入备注" />
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-action="saveResult">保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
